name: Main
on:
  workflow_call:
    inputs:
      commit-workflow:
        required: true
        type: string
      rust-working-directory:
        required: false
        type: string
        default: "."
    secrets: {}
env:
  SHARED_WORKFLOWS_REPO: "gracig/actions"
jobs:
  build-rust:
    runs-on: ubuntu-latest
    if: "${{ inputs.commit-workflow == 'bbw-rust' }}"
    steps:
    - uses: actions/checkout@v3
      with:
        repository: "${{ env.SHARED_WORKFLOWS_REPO }}"
        path: "./.shared"
    - name: Build Rust Application
      uses: "./.shared/.github/workflows/actions/build-rust"
