name: Main
on:
  workflow_call:
    inputs:
      commit-workflow:
        required: true
        type: string
      rust-working-directory:
        required: false
        type: string
        default: "."
    secrets: {}
env:
  SHARED_WORKFLOWS_REPO: "gracig/actions"
  SHARED_WORKFLOWS_TARGET: "./.shared"
  SHARED_ACTIONS_DIR: '${{ env.SHARED_WORKFLOWS_TARGET }}/.github/workflows/actions'
jobs:
  build-rust:
    runs-on: ubuntu-latest
    if: "${{ inputs.commit-workflow == 'bbw-rust' }}"
    steps:
    - uses: actions/checkout@v3
      with:
        repository: "${{ env.SHARED_WORKFLOWS_REPO }}"
        path: "${{ env.SHARED_WORKFLOWS_TARGET }}"
    - name: Build Rust Application
      uses: "${{ env.SHARED_ACTIONS_DIR }}/build-rust"
