name: Main
on:
  workflow_call:
    inputs:
      commit-workflow:
        required: true
        type: string
      rust-working-directory:
        required: false
        type: string
        default: "."
    secrets: {}
jobs:
  bbw-rust:
    runs-on: ubuntu-latest
    if: "${{ inputs.commit-workflow == 'bbw-rust' }}"
    steps:
    - uses: actions/checkout@v3
    - run: tree
    - name: Build Rust Application
      uses: ./.github/workflows/bbw-rust
